@import 'normalize';
@import 'lightgallery.min';
@import 'lg-transitions.min';

/********************
YOUR STYLES
*******************/

//header//
.main-nav {
    height: 100vh;
    width: 30%;
    background: #fafafa;
    border-right: 5px solid #dfdddd;
    z-index: 998;
}

.main-nav img {
    display: block;
    width: 60%;
    margin: 0 auto;
}

h1 {
    margin: auto;
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: center;
    color: #dfdddd;
}

//AMAZING TYPE JS THAT I MADE WORK
#typed {
    margin-left: 35%;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//END OF AMAZING JS I MADE WORK
#contact-bottom img {
    display: block;
    margin: 0 auto;
    height: 30px;
    padding-top: 15px;
    width: auto;
}

//end of header//
body {
    clear: both;
    display: flex;
    height: 100vh;
    background: #fafafa;
}

figure {
    height: 60px;
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    data-viewport-height: 100;
}

figure figcaption {
    font-style: italic;
}

.caption {
    width: 200px;
    margin-bottom: 20px;
    border: 5px solid #dfdddd;
    border-radius: 3em;
    filter: grayscale(100%) blur(.4px);
    transition: .5s ease-in-out;
}

.caption:hover {
    filter: none;
}


/********************
MEDIA QUERIES
*******************/

///* Mobile: 320px = 20em *//////////
//@media screen and (min-width: 20em) 

@media only screen and (max-device-width: 80em) and (orientation:portrait){
    h1 {
        font-size: 1.5em;
    }
    #bio,
    #typed {
        display: none;
    }
    .caption {
        width: 100px;
        border-radius: 2em;
    }
    
    .main-nav {
         border-right: 2px solid #dfdddd;
    }
    
    figure {
        width: 85%;
        flex-direction: row;
    }
    .caption {
        filter: blur(0px);
    }
}


/* Tablet:  768px = 160em */ ///////
@media screen and (min-width: 48em) {
    /* Diagnostic Styling. Delete When Done. */
    

}


/* Desktop: 1280px = 80em */ ///////
@media screen and (min-width: 80em) {
    /* Diagnostic Styling. Delete When Done. */
    .main-nav {
        background: #fafafa;
       

    }
}
